<div class="row">
  <div class="col s12 m12 l12 text-align-right">
    <button class="btn-close" mat-stroked-button (click)="close()" tabIndex="-1">
      <span class="material-icons span-icon">
        close
      </span>
    </button>
  </div>
</div>

<div class="row">
  <div class="col s12 m12 l12">
    <label class="title" *ngIf="data.isEdit === false">Nuevo Detalle</label>
    <label class="title" *ngIf="data.isEdit === true">Editar Detalle</label>
  </div>
</div>

<form [formGroup]="apiForm.formGroup" novalidate>
  <div class="row">
    <div class="row">
      <div class="col s6 m6 l6">
        <label class="filter-label">Reporte</label>
        <br>
        <mat-form-field>
          <input matInput formControlName="descripcionReporte" class="input-height-form"
            readonly  />
        </mat-form-field>
      </div>
      <div class="col s6 m6 l6">
        <label class="filter-label">Columna</label>
        <br>
        <mat-form-field>
          <input matInput formControlName="descripcionColumna" class="input-height-form"
            readonly  />
        </mat-form-field>
      </div>
    </div>
  
    <div class="row">
      <div class="col s12 m12 l12 mt-20">
        <table mat-table matSort [dataSource]="list?.source" (matSortChange)="list?.onSortChange($event)" class="mat-elevation-z8">      
          <ng-container matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="text-center" [ngClass]="'w-120px'"> Código </mat-header-cell>
            <mat-cell *matCellDef="let element" class="text-center" [ngClass]="'w-120px'"> {{element.codigo}} </mat-cell>
          </ng-container>          
          <ng-container matColumnDef="descripcion">
            <mat-header-cell *matHeaderCellDef [ngClass]="'w-360px'">Descripción </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="'w-360px'"> {{element.descripcion}} </mat-cell>
          </ng-container>           
          <ng-container matColumnDef="tipoMovimiento">
            <mat-header-cell *matHeaderCellDef [ngClass]="'w-120px'"> Tipo Movimiento </mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="'w-120px'"> {{element.descripcionTipoMovimiento}} </mat-cell>
          </ng-container>          
          <ng-container matColumnDef="todo">
            <mat-header-cell *matHeaderCellDef class="text-r">
              <div class="w-100">
                Todo&nbsp;<mat-checkbox class="example-margin" [checked]="list.completeChecked" [indeterminate]="list.checkVerify()" (change)="list.checkAll($event.checked)"></mat-checkbox>
              </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="text-r"> 
              <div class="w-100">
                <mat-checkbox [(ngModel)]="element.checked" (ngModelChange)="list.checkThis($event)" [ngModelOptions]="{standalone: true}"></mat-checkbox>
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
              Cargando información...
            </mat-footer-cell>
          </ng-container>
          <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
              Ningún Resultado.
            </mat-footer-cell>
          </ng-container>
          <ng-container matColumnDef="error">
            <mat-footer-cell *matFooterCellDef colspan="6">
              Error en la consulta
            </mat-footer-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="list?.columns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: list?.columns;"></mat-row>
          <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':(! list?.isSearching)}"></mat-footer-row>
          <mat-footer-row *matFooterRowDef="['error']" [ngClass]="{'hide':(! list?.isError)}"></mat-footer-row>
          <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':((! list?.isSearching && ! list?.isError) ? (list?.length > 0) : true)}">
          </mat-footer-row>
        </table>
        <mat-paginator [length]="list?.length" [pageSize]="list?.size"
          [pageSizeOptions]="list?.pageSizeOptions" (page)="list?.onPageChange($event)"
          showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>
    
  </div>

  <div class="row">
    <div class="col s12 m12 l12 ">
      <button class="btn-save" mat-raised-button (click)="action()" [disabled]="! list?.someChecked">Guardar</button>
    </div>
  </div>
</form>