<div class="container mt-60">

  <div class="row">
    <div class="col s9 m9 l9">
      <form [formGroup]="apiForm.formGroup" novalidate>

        <div class="row">
          <div class="col s4 m4 l4">
            <label class="filter-label">Fecha</label><br>
            <mat-form-field appearance="fill">
              <input formControlName="fechaInicio" [errorStateMatcher]="errorMatcher"
                readonly
                [min]="minDateEnd" [max]="maxDate" 
                matInput [matDatepicker]="picker1" placeholder="Fecha">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1 startView="month"></mat-datepicker>
            </mat-form-field>
            <mat-error *ngIf="apiForm.getField('fechaInicio').touched && apiForm.getField('fechaInicio').errors?.required">
              Este campo es requerido
            </mat-error>
          </div>
          

        </div>
      </form>
    </div>
    
    <div class="col s6 m3 l3">
      <button mat-raised-button class="btn-register" (click)="search()" [disabled]="apiForm.formGroup.invalid">
        <span class="material-icons">
          search
        </span>
        Ver Reporte
      </button>
    </div>
  </div>
  
  <div class="row">
    <div class="col s12 m6 lg6">
      <button mat-raised-button class="button-copiar" (click)="copiar()" [disabled]="!(list?.length > 0)">
        <span class="material-icons">
          file_download
        </span>
        Exportar Excel
      </button>
    </div>
  </div>
  
  <div class="row mt-20">
    <div class="col s12 m12 l12">
      <div class="table-lista">
        <table mat-table matSort [dataSource]="list?.source" (matSortChange)="list.onSortChange($event)">
          
          <ng-container matColumnDef="Código de Ajuste">
            <mat-header-cell *matHeaderCellDef>Código de Ajuste</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.codigoMovimiento}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Glosa">
            <mat-header-cell *matHeaderCellDef>Glosa</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.observacionTransaccion}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Tarjeta">
            <mat-header-cell *matHeaderCellDef>Tipo de Tarjeta</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.subProducto}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Numero de Tarjeta">
            <mat-header-cell *matHeaderCellDef>Tarjeta</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.numeroTarjeta}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Número de Cuenta">
            <mat-header-cell *matHeaderCellDef>Tipo y Número de Cuenta</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.tipoDocumento}}-{{element.numeroDocumento}}  </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Importe">
            <mat-header-cell *matHeaderCellDef>Importe</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.importe}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="Usuario">
            <mat-header-cell *matHeaderCellDef>Usuario</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.usuarioTransaccion}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
              Cargando información...
            </mat-footer-cell>
          </ng-container>
          <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
              Ningún Resultado.
            </mat-footer-cell>
          </ng-container>
          <ng-container matColumnDef="error">
            <mat-footer-cell *matFooterCellDef colspan="6">
              Error en la consulta
            </mat-footer-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="list?.columns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: list?.columns;"></mat-row>
          <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':(! list?.isSearching)}"></mat-footer-row>
          <mat-footer-row *matFooterRowDef="['error']" [ngClass]="{'hide':(! list?.isError)}"></mat-footer-row>
          <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':((! list?.isSearching && ! list?.isError) ? (list?.length > 0) : true)}">
          </mat-footer-row>
        </table>
        <mat-paginator #TablePaginator="matPaginator" [length]="list?.length" [pageSize]="list?.size"
          [pageSizeOptions]="list?.pageSizeOptions" (page)="list?.onPageChange($event)"
          showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>
  </div>
</div>