.width90{
    min-width: 90%;
}

.btn-close {
    border-radius: 20px;
    border-color: #7766ad;
    background: #7766ad;
  }
  
  .btn-close .span-icon {
    color: #ffffff;
  }
  
  .text-align-right {
    text-align: right;
  }
  
  .filter-label {
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.0015em;
    color: #000000;
  }
  
  .title {
    color: #626262;
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 44px;
  }
  
  .text-colour {
    color: #000000;
  }
  mat-form-field {
    width: 100%;
    height: 56px;
    background: #f6f6f6;
    border-radius: 5px 5px 0px 0px;
  }
  
  .input-height {
    height: 30px;
  }
  
  .btn-save {
    background: #523078;
    border-radius: 10px;
    color: #f7f7fc;
    height: 60px;
    width: 100%;
  }
  
  mat-radio-button {
    height: 56px;
    padding-top: 15px;
  }
  
.columnRegla {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.rowRegla{
  margin-top: 30px;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  margin: 20px;
}

.icon-morado {
  color: #523078;
}

.icon-verde{
  color: green
}

.icon-white{
  color:white
}

.border-bot{
  border-bottom: 3px;
  border-bottom-style: solid;
}

.border-bot-morado {
  border-bottom-color: #523078;
}

.text-center{
  text-align: center;
}

.text-r{
  text-align: right;
}

.btn-morado{
  border-color: #523078;
}

.mt-4{
margin-top: 30px; 
}

::ng-deep .btn-morado > .mat-button-wrapper{
  color :#523078;
}

::ng-deep .icon-morado  > .mat-button-wrapper{
  color :#523078;
}

::ng-deep .mat-stroked-button{
  border: 2px solid #523078 !important;
}

.bck-morado{
  background-color: #523078;
}

.scroll{
  overflow: auto;
  max-height: 400px;
}

.tableTarjeta{
  width: 50%;
  margin: auto;
}

.paddingTarjeta{
  padding: 10px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999 !important;
  background-color: #cccccc;
  color: #666666;
}

.txt-end{
  text-align: end;
}

.w-100{
  width: 100%;
}