<div class="container mt-60">

  <div class="row">
    <div class="col s6 m6 l6">
      <form [formGroup]="apiForm.formGroup" novalidate>
        <div class="row">
          <div class="col s12 m12 l12">
            <label class="filter-label">Filtrar Proceso</label><br>
            <ng-container *ngIf="sublist == null">
              <p>
                <strong><label>Cargando...</label></strong>
              </p>
            </ng-container>
            <ng-container *ngIf="sublist != null">
              <mat-form-field class="select-height-form w-100">
                <mat-select style="height: 30px;" formControlName="tipoProceso"
                  (selectionChange)="onChangeSelected($event)"
                  [errorStateMatcher]="errorMatcher">
                  <mat-option *ngFor="let item of sublist" [value]="item.codigo">
                    {{item.nombre}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="apiForm.getField('tipoProceso').touched && apiForm.getField('tipoProceso').errors?.required">
                  Este campo es requerido
                </mat-error>
              </mat-form-field>
            </ng-container>
          </div>
        </div>
      </form>
    </div>
    <div class="col s6 m3 l3 offset-m3 offset-l3">
      <button mat-raised-button class="btn-register" (click)="new()">
        <span class="material-icons">
          add_box
        </span>
        Nuevo E-mail
      </button>
    </div>
  </div>
  
  <div class="row mt-20">
    <div class="col s12 m12 l12">
      <div class="table-lista">
        <table mat-table matSort [dataSource]="list?.source" (matSortChange)="list.onSortChange($event)">
          <ng-container matColumnDef="nombreProceso">
            <mat-header-cell *matHeaderCellDef [ngClass]="'w-180px'">Nombre de Proceso</mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="'w-180px'">{{element.nombreProceso}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="nombreUsuario">
            <mat-header-cell *matHeaderCellDef [ngClass]="'w-240px'">Nombre de Usuario</mat-header-cell>
            <mat-cell *matCellDef="let element" [ngClass]="'w-240px'">{{element.nombreUsuario}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="tipoEnvio">
            <mat-header-cell *matHeaderCellDef>Tipo de Envío</mat-header-cell>
            <mat-cell *matCellDef="let element">{{getTipoEnvio(element.tipoEnvio)}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef>E-mail</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="editar">
            <mat-header-cell *matHeaderCellDef>
              <div class="w-100 text-r">
                Editar
              </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <div class="w-100 text-r">
                <button mat-icon-button (click)="edit(row)">
                  <span class="material-icons btn-actions">
                    edit
                  </span>
                </button>
              </div>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="eliminar">
            <mat-header-cell *matHeaderCellDef>
              <div class="w-100 text-r">
                Eliminar
              </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <div class="w-100 text-r">
                <button mat-icon-button color="warn" (click)="delete(row)">
                  <span class="material-icons btn-action-delete">
                    delete
                  </span>
                </button>
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
              Cargando información...
            </mat-footer-cell>
          </ng-container>
          <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
              Ningún Resultado.
            </mat-footer-cell>
          </ng-container>
          <ng-container matColumnDef="error">
            <mat-footer-cell *matFooterCellDef colspan="6">
              Error en la consulta
            </mat-footer-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="list?.columns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: list?.columns;"></mat-row>
          <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':(! list?.isSearching)}"></mat-footer-row>
          <mat-footer-row *matFooterRowDef="['error']" [ngClass]="{'hide':(! list?.isError)}"></mat-footer-row>
          <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':((! list?.isSearching && ! list?.isError) ? (list?.length > 0) : true)}">
          </mat-footer-row>
        </table>
        <mat-paginator #TablePaginator="matPaginator" [length]="list?.length" [pageSize]="list?.size"
          [pageSizeOptions]="list?.pageSizeOptions" (page)="list?.onPageChange($event)"
          showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>
  </div>
</div>