<!-- <p>home works!</p> -->
<!-- <div style="text-align: center;">
  <img src="assets/imagenes/estrella-fondo.png" style="height: 665px;">
  <img src="assets/imagenes/edificio.png" style="height: 665px;">
</div> -->
<!-- <div style="position: relative;top: 0;left: 0;text-align: center;">
    <img src="assets/imagenes/estrella-fondo.png" style="height: 665px;width: 70%;">
  </div> -->


<!-- <div class="container center-h center-v">
    <div class="child">
      <code>justify-content: center;<br>align-items: center;</code>
    </div>
  </div> -->


<!-- <div style="position: relative; top: 0; left: 0;">




  <div style="position: absolute;right: 0;top: 0;">
    <img src="assets/imagenes/edificio.png" style="height: 660px;">
  </div>
</div> -->


<div class="padre">
  <div style="position: absolute;right: 0;top: 10%;">
    <img src="assets/imagenes/edificio.png" style="height: 660px;">
  </div>
  <div class="hijo" style="">
    <p style="">Bienvenido al <br> Sistema Ripley Puntos</p>
  </div>
</div>
